{% extends 'base.html.twig' %}


{% block body %}
    <div class="navbar">
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#">youHou<span class="badge">plop</span></a></li>
            <li><a href="#">veille<span class="new badge">plip</span></a></li>
            <li><a href="#">JOB</a></li>
        </ul>
    <a class="btn dropdown-button" href="#!" data-activates="dropdown2">menu<i class="material-icons right">arrow_drop_down</i></a>
    </div>

    <div id="card">
    <div class="parallax-container">
        <div class="parallax"><img src="https://vertufineart.com/wp-content/uploads/2013/03/Alex-Katz-gray-day-1992.jpg"></div>
    </div>

    <div class="container">
        <div class="row">
            <a class = "waves-effect  z-depth-5 btn align-center " href="#modalcard">go</a>
        </div>
        <div id="modalcard" class="modal">
            <div class="modal-content">
                <div class="row row">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="input-field col s6">
                        {{ form_label (form.title) }}
                        {{ form_widget (form.title) }}
                        {{ form_errors (form.title) }}
                        </div>
                    </div>
                </div>
                <div class="row row">
                    <div class="row">
                        <div class="input-field col s6">
                        {{ form_label (form.content) }}
                        {{ form_widget (form.content) }}
                        {{ form_errors (form.content) }}
                        </div>
                    </div>
                </div>
                <div class="row row">
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label (form.picture.file) }}
                            {{ form_widget (form.picture.file) }}
                            {{ form_errors (form.picture.file) }}
                        </div>
                    </div>
                </div>
                <div class="row row">
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label (form.link) }}
                            {{ form_widget (form.link, {'attr': {'class': 'materialize-textarea' }}) }}
                            {{ form_errors (form.link) }}
                        </div>
                        {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-primary'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
         </div>
    </div>


    <div class="container">
        {% for card in cards %}
            <div class="row">
                <div class="col s12 m6 l6">
        <div class="card">

                    <div class="card-image waves-effect waves-block waves-light">
                        {#<div class="card_picture" style="background-image: url(''); background-size:cover; background-position:center">#}
                        {#<span class="text_card_picture big_text_card_picture activator">Cliquez</span>#}
                        {#<span class="text_card_picture medium_text_card_picture activator">Pour plus d'infos</span>#}
                        {#</div>#}

                        {% if card.picture is empty %}
                        {% else %}
                            <img src="{{ asset('uploads/images/' ~ card.picture.src) }}">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ card.title }}<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">{{ card.link }}</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ card.title }}<i class="material-icons right">close</i></span>
                        <p>{{ card.content|nl2br }}</p>
                    </div>
                    <div>
                        <a class="waves-effect waves-light center-align btn index_btn" href=" {{ path('wcs_card_delete', {'id': card.id}) }}">delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://static1.squarespace.com/static/5758eea3746fb9e75f9439d0/t/57cd302e8419c2fd01a4bed8/1473065007044/Katz034-430PM-e1437674232683.jpg?format=1500w"></div>
    </div>

</div>
{% endblock %}