{% extends 'base.html.twig' %}

{% block body %}
<div id="card">
    <div class="parallax-container">
        <div class="parallax"><img src="https://vertufineart.com/wp-content/uploads/2013/03/Alex-Katz-gray-day-1992.jpg"></div>
    </div>

    <div class="container">
        <div class="row">
            <a class = "waves-effect  z-depth-5 btn align-center " href="#modalcard">go</a>
        </div>
        <div id="modalcard" class="modal">
            <div class="modal-content">
                <div class="row row">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="input-field col s6">
                        {{ form_label (form.title) }}
                        {{ form_widget (form.title) }}
                        {{ form_errors (form.title) }}
                        </div>
                    </div>
                </div>
                <div class="row row">
                    <div class="row">
                        <div class="input-field col s6">
                        {{ form_label (form.content) }}
                        {{ form_widget (form.content) }}
                        {{ form_errors (form.content) }}
                        </div>
                    </div>
                </div>
                <div class="row row">
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label (form.link) }}
                            {{ form_widget (form.link, {'attr': {'class': 'materialize-textarea' }}) }}
                            {{ form_errors (form.link) }}
                        </div>
                        {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-primary'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
         </div>
    </div>


    <div class="container">
        {% for card in cards %}
        <div class="card">

            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ card.title }}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">{{ card.link }}</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ card.title }}<i class="material-icons right">close</i></span>
                <p>{{ card.content|nl2br }}</p>
            </div>
            <div>
                <a class="waves-effect waves-light center-align btn index_btn" href=" {{ path('wcs_card_delete', {'id': card.id}) }}">delete</a>
            </div>

        </div>

        {% endfor %}
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="http://alexkatz.guggenheim-bilbao.eus/img/Alex-Katz-2012-White-Roses-9-Zoom.jpg"></div>
    </div>

</div>
{% endblock %}